ipykernel==6.29.5
numpy==1.26.4
pandas==2.2.2
scipy==1.14.0
scikit-learn==1.5.1
tensorflow==2.17.0
keras_tuner==1.4.7
facets-overview==1.1.1
matplotlib==3.9.1
seaborn==0.13.2
networkx==3.3
lime==0.2.0.1